:root{
    --miku-colour: #39c5bb;
    --miku-red: #e12885;
    --miku-black: #373b3e;
    --miku-white: #fffeec;
    --miku-dark: #137a7f;
    --miku-light: #c3e5e7;
    --miku-varient: #86cecb;
    --miku-grey: #bec8d1;

    --time-bar: 0;
}
body{
    background-color: var(--miku-light);
}
.hidden{
    display: none;
}
.content{
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.main-title{
    margin: auto;
    width: 100%;
}
h1{
    width: calc(100% - 80px);
    margin: auto;
    padding: 10px;
    text-align: center;
    border-bottom: var(--miku-colour) 2px solid;
    color: var(--miku-dark);
}
h2{
    font-weight: bold;
    text-align: center;
    width: 300px;
    color: var(--miku-black);
}
h3{
    display: inline-block;
    color: var(--miku-black);
    margin-block-end: 0;
}
h5{
    margin-bottom: 0;
}
h6{
    font-size: 14px;
}
span, code{
    vertical-align: middle;
}
.pic > img{
    width: 100%;
}
a{
    color: var(--miku-black);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
a:not(.in-question){
    display: block;
    width: 240px;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 0 3px 3px var(--miku-black);
    padding: .35em 0;
    font-size: 12px;
}
a.in-question{
    display: inline-block;
    width: fit-content;
    border-radius: 5px;
    margin: 0 5px;
    padding: 0 .35em;
    border: var(--miku-black) 1px solid;
}
p{
    font-size: 14px;
}
ul{
    padding: 0;
}
ul.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li.item{
    list-style: upper-roman;
    list-style-position: inside;
    padding: 0 10px 20px;
}
.hightlight{
    background-image: linear-gradient(transparent 80%, var(--miku-colour) 80%);
    vertical-align: bottom;
    -webkit-text-stroke: var(--miku-white) .5px;
}
.css > a{
    background-color: var(--miku-colour);
}
.css > a:hover:not(.unfinished){
    background-color: var(--miku-varient);
    transition: .3s;
}
.js > a{
    background-color: var(--miku-red);
}
.js > a:hover:not(.unfinished){
    background-color: #e1288580;
    transition: .3s;
}
a.another-version{
    font-weight: normal;
    background-color: var(--miku-white);
    box-sizing: border-box;
}
.css > .another-version{
    border: 2px dashed var(--miku-colour);
    color: var(--miku-dark);
}
.css > a.another-version:hover{
    background-color: var(--miku-light);
    transition: .3s;
}
.js > .another-version{
    border: 2px dashed var(--miku-red);
    color: var(--miku-red);
}
.js > a.another-version:hover{
    background-color: #fce;
    transition: .3s;
}
a.unfinished{
    background-color: var(--miku-black);
    cursor: default;
    color: var(--miku-grey);
    position: relative;
}
a.unfinished::before{
    content: '未完成';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 2px 0;
    margin: auto;
    background-color: var(--miku-red);
    color: var(--miku-white);
    font-size: 10px;
    width: 30%;
    height: fit-content;
    transform: rotate(-15deg);
}
.magenta{
    color: var(--miku-red);
    -webkit-text-stroke: var(--miku-black) .2px;
}
.cyan{
    color: var(--miku-colour);
    -webkit-text-stroke: var(--miku-black) .2px;
}
.column{
    padding: 20px;
}

.HW{
    position: relative;
}
.HW::before, .HW::after{
    content: '';
    position: absolute;
    left: 10px;
    z-index: 1;
}
.HW::before{
    top: 0%;
    transform: translateY(-100%);
    font-size: 12px;
}
.HW::after{
    display: block;
    top: 0;
    clip-path: polygon(0% 0%, 0% 5%, 100% 5%, 100% 0%);
    height: 50px;
    width: calc(220px * var(--time-bar));
}
.css > .HW::after{
    background-color: var(--miku-red);
}
.js > .HW::after{
    background-color: var(--miku-dark);
}
.css > .HW::before{
    color: var(--miku-red);
}
.js > .HW::before{
    color: var(--miku-dark);
}

.question{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fffeec;
    color: var(--miku-black);
    font-size: 24px;
    width: 100%;
    height: fit-content;
    max-width: 640px;
    max-height: 80vh;
    font-weight: bold;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 8;
    border: 3px solid var(--miku-colour);
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 2px 2px 10px var(--miku-grey);
}
.question-background{
    display: none;
    content: '';
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    background-color: var(--miku-dark);
    opacity: .5;
}
.question .question-msg{
    padding: 30px 0;
    height: auto;
    overflow-y: scroll;
}
#msg{
    font-size: 14px;
}
.question .close{
    display: block;
    position: sticky;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 20px auto;
    width: 60px;
}

.btn{
    margin: 3px;
    border: 1px solid var(--miku-colour);
    background-color: #39c5bb1a;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 5px;
}
.btn:checked:not(button[disabled="true"]){
    background-color: #39c5bb32;
}
.btn:hover:not(button[disabled="true"]){
    cursor: pointer;
    background-color: #39c5bb80;
    transition: .1s;
}
.btn:active:not(button[disabled="true"]){
    cursor: pointer;
    background-color: var(--miku-colour);
}

.outer-sider-decoration{
    position: absolute;
    top: -200px;
    height: 120%;
    width: 25px;
    background-color: var(--miku-colour);
    border-bottom: var(--miku-colour) 1px solid;
    z-index: -4;
}
.sider-decoration{
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    width: 15px;
    background-color: var(--miku-black);
    border-bottom: var(--miku-black) 1px solid;
    z-index: -3;
}
.inner-sider-decoration{
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: var(--miku-red);
    border-bottom: var(--miku-red) 1px solid;
    z-index: -2;
}
.right-deco{
    right: 10px;
}
.left-deco{
    left: 10px;
}

@media screen and (min-width: 768px) {
    .content{
        max-width: 960px;
        flex-direction: row;
        align-items: flex-start;
    }
    .main-title{
        max-width: 960px;
    }
    a:not(.in-question){
        font-size: 16px;
        padding: .65em 0;
        margin: 20px auto;
    }
    .outer-sider-decoration{
        width: 50px;
    }
    .sider-decoration{
        width: 30px;
        right: 10px;
    }
    .inner-sider-decoration{
        width: 10px;
        right: 10px;
    }
    .question{
        align-items: center;
    }
    #msg{
        font-size: 18px;
    }
}