:root{
    --miku-color: #39c5bb;
    --miku-red: #e12885;
    --miku-black: #373b3e;
    --miku-white: #fffeec;
    --miku-dark: #137a7f;
    --miku-light: #c3e5e7;
    --miku-varient: #86cecb;
    --miku-gray: #bec8d1;
}
body{
    background-color: var(--miku-light);
}
.content{
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 1;
}
.main-title{
    margin: auto;
    width: 100%;
}
h1{
    width: calc(100% - 160px);
    margin: auto;
    padding: 10px;
    text-align: center;
    border-bottom: var(--miku-color) 2px solid;
    color: var(--miku-dark);
}
h2{
    font-weight: bold;
    text-align: center;
    width: 250px;
}
h2, h3{
    color: var(--miku-black);
}
a{
    color: var(--miku-black);
    display: block;
    width: 220px;
    margin: 15px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    padding: .35em 0;
    font-weight: bold;
    box-shadow: 0 3px 3px var(--miku-black);
}
ul{
    padding: 0 20px;
}
li{
    list-style: upper-roman;
}
.hightlight{
    background-image: linear-gradient(transparent 80%, var(--miku-color) 80%);
    vertical-align: bottom;
    -webkit-text-stroke: var(--miku-white) .5px;
}
.css > a{
    background-color: var(--miku-color);
}
.css > a:hover:not(#unfinished){
    background-color: var(--miku-varient);
    transition: .3s;
}
.js > a{
    background-color: var(--miku-red);
}
.js > a:hover:not(#unfinished){
    background-color: #e388;
    transition: .3s;
}
a.another-version{
    font-weight: normal;
    background-color: var(--miku-white);
    box-sizing: border-box;
}
.css > .another-version{
    border: 2px dashed var(--miku-color);
    color: var(--miku-dark);
}
.css > a.another-version:hover{
    background-color: var(--miku-light);
    transition: .3s;
}
.js > .another-version{
    border: 2px dashed var(--miku-red);
    color: var(--miku-red);
}
.js > a.another-version:hover{
    background-color: #fce;
    transition: .3s;
}
p{
    font-size: 24px;
    font-weight: bold;
}
#unfinished{
    background-color: var(--miku-black);
    cursor: default;
    color: var(--miku-gray);
}
.magenta{
    color: var(--miku-red);
    -webkit-text-stroke: var(--miku-black) .2px;
}
.cyan{
    color: var(--miku-color);
    -webkit-text-stroke: var(--miku-black) .2px;
}

.outer-sider-decoration{
    position: absolute;
    top: -200px;
    height: 200%;
    width: 50px;
    background-color: var(--miku-color);
    border-bottom: var(--miku-color) 1px solid;
    z-index: 1;
}
.sider-decoration{
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    width: 30px;
    background-color: var(--miku-black);
    border-bottom: var(--miku-black) 1px solid;
    z-index: 2;
}
.inner-sider-decoration{
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: var(--miku-red);
    border-bottom: var(--miku-red) 1px solid;
    z-index: 3;
}
.right-deco{
    right: 10px;
}
.left-deco{
    left: 10px;
}

@media screen and (min-width: 768px) {
    .content{
        max-width: 960px;
        flex-direction: row;
        align-items: flex-start;
    }
    .main-title{
        max-width: 960px;
    }
}