:root{
    --miku-colour: #39c5bb;
    --miku-red: #e12885;
    --miku-black: #373b3e;
    --miku-white: #fffeec;
    --miku-dark: #137a7f;
    --miku-light: #c3e5e7;
    --miku-varient: #86cecb;
    --miku-grey: #bec8d1;
}