
.col{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    width: 100%;
    margin-bottom: 15px;
}
h2{
    font-size: 24px;
    text-align: center;
}
.item{
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.item .txt, .item .img{
    box-sizing: border-box;
    padding: 5px;
    width: 50%;
}
.item .img img{
    width: 100%;
    vertical-align: middle;
}
@media screen and (min-width: 768px) {
    .wrap{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        max-width: 1200px;
        --col-count: 3;
    }
    .col{
        width: calc(100% / var(--col-count));
    }
    .item{
        flex-direction: column;
    }
    .item .txt, .item .img{
        width: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .col{
        --col-count: 4;
    }
    .col:nth-child(-n+2){
        width: 50%;
    }
    .col:nth-child(-n+2) .item{
        flex-direction: row;
    }
    .col:nth-child(-n+2) .item .txt, .col:nth-child(-n+2) .item .img{
        width: 50%;
    }
    .col:nth-child(n+3) .item{
        position: relative;
    }
    .col:nth-child(n+3) .txt{
        position: absolute;
        width: calc(100% - 30px);
        background-color: #eee8;
    }
}