body{
    font-family: 'Times New Roman', Times, serif, 'Microsoft Jheng Hei';
    overflow-y: scroll;
}
#bgi{
    position: fixed;
    z-index: -5;
    opacity: .1;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
#information{ 
    vertical-align: super; 
    font-size: 24px;
}
#information:hover{
    opacity: .8;
    cursor: pointer;
}
#map{
    opacity: .9;
    height: 90vh;
    width: 100%;
    border-radius: 10px;
}
.select-year{ position: relative; }
#select-year{
    color: var(--miku-colour);
    font-weight: bold;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 10px;
    border-bottom: 2px solid var(--miku-colour);
    border-right: 1px solid var(--miku-colour);
    cursor: pointer;
}
#select-year:focus{ box-shadow: 0 0 10px var(--miku-colour); }
#select-year:disabled{ 
    color: var(--miku-grey); 
    border-bottom: 2px solid var(--miku-grey);
    border-right: 1px solid var(--miku-grey);
}
.mouseover{
    outline: 3px dashed #39c5bba0;
    border-radius: 10px;
}
small{
    font-size: 12px;
    color: #666;
}
.legend{ 
    border-radius: 20px;
    box-shadow: 0 0 6px var(--miku-colour); 
}
.line-name{ color: var(--miku-colour); }
td{ padding: 8px; }
.modal-footer p:last-child small{ text-decoration: line-through; }