@import 'favo-colours.scss';

body{
    overflow-y: scroll;
}
p, h1{
    color: $miku-black;
}
.hidden{
    opacity: 0;
    position: absolute;
    right: 100%;
}
.kv{
    max-width: 1200px;
}
.btn-primary{
    background-color: $miku-colour;
    border: 1px solid $miku-dark;
}